body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('photos/crypto.gif');
    background-size: cover;
    padding:0;
    margin:0;

}

.navbar{
    overflow: hidden;
    background-color: rgb(19, 65, 95);
    text-align: center;
}

.navbar a{
    text-align:center;
    padding: 12px 14px;
    float:left;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 350px;


  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .header {
    text-align: center;
    padding: 32px;
  }

h1{
    color: white;
    font-family: 'Comfortaa', cursive;
}
.graph{
    margin-top: 50px;
    margin-left: 350px;
}
#welcometext{
 text-align: center;
 margin-top: 200px;
 font-size: 25px;
}
.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 13px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
  width: 50%; 
  height: 50%; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 320px;
  border: 2px solid black ;
}
p{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20%;
  color: white;
  font-family: 'Comfortaa', cursive;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  border: 2px solid black;
}







